
*{
	box-sizing: border-box;
	margin: 0;
}
 
.html{
	font-size: 16px; /* base */
}
 body{
	font-family: Arial, sans-serif;
 	margin:0;
 	line-height: 1.5;
	width: 100%;
	height: 100vh;
 }

 .alumni-testimonial-child-container{
 	margin: auto;
	position: relative;
 }

 .alumni-testimonial-row{
 	display: flex;
	overflow-x: scroll;
	width: 98%;
	border-radius: 20px;
 }

 .alumni-testimonial-row::-webkit-scrollbar{
	display: none;
 }

.alumni-testimonial-section-title{
	flex:0 0 100%;
	max-width: 100%;
	margin-bottom: 60px;
}
.alumni-testimonial-section-title h2{
	text-align: center;
	/* font-size: 2rem; */
	font-size: clamp(1.5rem, 4vw, 3rem);
	color:#800000;
}
 .alumni-testimonial-container{
 	min-height: 100vh;
 	padding:80px 0;
 }

.alumni-testimonial-container .alumni-testimonial-items{
	max-width: 100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

#prev-scroll-btn, #next-scroll-btn{
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 20px;
	border: none;
	width: 30px;
	height: 30px;
	background-color: #e2e2e2;
	border-radius: 50%;
    -webkit-box-shadow: 0 0 15px rgba(33, 33, 33, 0.8);
            box-shadow: 0 0 15px rgba(33, 33, 33, 0.8);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

#prev-scroll-btn:hover, #next-scroll-btn:hover{
	background-color: #cccccc;
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

#prev-scroll-btn{
	left: 10px;
 }

 #next-scroll-btn{
	right: 10px;
 }

.alumni-testimonial-container .alumni-testimonial-items .item{
	padding: 12px;
}

.alumni-testimonial-container .alumni-testimonial-items .item-inner{
	border-radius: 20px;
	-webkit-box-shadow: 0 0 15px rgba(122, 120, 120, 0.5);
	        box-shadow: 0 0 15px rgba(122, 120, 120, 0.5);
	padding: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 250px;
}

.alumni-testimonial-container .alumni-testimonial-items .item-inner img{
	width: 120px;
	height: 120px;
	background-color: #b6b6b6;
	border-radius: 50%;
	-o-object-fit: cover;
	   object-fit: cover;
}

.alumni-testimonial-container .alumni-testimonial-items .item-inner .alumni-name{
	/* font-size: 1.2em; */
	font-size: clamp(1.2rem, 2.5vw, 1.4rem);
	font-weight: 600;
	margin-bottom: 10px;
}

.alumni-testimonial-container .alumni-testimonial-items .item-inner .detail span{
	font-weight: 600;
}


.alumni-testimonial-container .alumni-testimonial-items .read-more-cont{
	display: none;
}

.alumni-testimonial-container .alumni-testimonial-items .item-inner h3{
	/* font-size: 1.4em; */
	font-size: clamp(1.25rem, 2.5vw, 2rem);
	color:#000000;
	margin-bottom: 30px;
	position: relative;
}
.alumni-testimonial-container .alumni-testimonial-items .item-inner h3::before{
  content: '';
  height: 1px;
  width: 100%;
  background-color: #000000;
  position: absolute;
  left:0;
  right: 0;
  bottom:-10px;
}

.alumni-testimonial-container .alumni-testimonial-items .item-inner p{
	color:#000000;
	/* font-size: 0.9rem; */
	font-size: clamp(1rem, 2.5vw, 1.1rem);
	margin:0 0 3px;
}
.alumni-testimonial-container .alumni-testimonial-items .item-inner .btn{
	font-size: 16px;
	background-color: #820909;
	border: none;
	border-radius: 10px;
	color:#ffffff;
	padding: 8px 15px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.alumni-testimonial-container .alumni-testimonial-items .item-inner .btn:hover{
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.alumni-testimonial-popup-box{
	position: fixed;
	height: 100vh;
	width: 100%;
	left: 0;
	top:0;
	background-color: rgba(0,0,0,0.5);
	z-index: 500;
	visibility: hidden;
	opacity:0;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-backdrop-filter: blur(5px);
	        backdrop-filter: blur(5px);
}

.alumni-testimonial-popup-box.open{
 	visibility: visible;
	opacity:1;	
}
.alumni-testimonial-popup-box .popup-content{
	background-color: #ffffff;
	width: 600px;
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	border-radius: 20px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.alumni-testimonial-popup-box .popup-header{
	padding: 15px 40px 15px 15px;
	border-bottom: 1px solid #dddddd;
}
.alumni-testimonial-popup-box .popup-header h3{
	margin:0;
	color:#800000;
	/* font-size: 20px; */
	font-size: clamp(1.25rem, 2.5vw, 2rem);
}
.alumni-testimonial-popup-box .popup-header .popup-close-icon{
	position: absolute;
    height: 30px;
    width: 30px;
	border-radius: 50%;
    text-align: center;
    color: #000000;
	background-color: #cccccc;
    font-size: 28px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.alumni-testimonial-popup-box .popup-header .popup-close-icon:hover{
	background-color: #ac4e4e91;
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.alumni-testimonial-popup-box .popup-body{
	padding: 15px;
	/* max-height: 600px; */
	overflow-y: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.alumni-testimonial-popup-box .popup-body img{
	display: block;
	margin-top: 15px;
	width: 120px;
	height: 120px;
	background-color: #b6b6b6;
	border-radius: 50%;
	-o-object-fit: cover;
	   object-fit: cover;	
}

.alumni-testimonial-popup-box .popup-body .alumni-name{
	/* font-size: 20px; */
	font-size: clamp(1.2rem, 2.5vw, 1.4rem);
	font-weight: 600;
	margin-bottom: 10px;
}

.alumni-testimonial-popup-box .popup-body .detail span{
	font-weight: 600;
}

.alumni-testimonial-popup-box .popup-body #description{
	margin-top: 10px;
	background-color: #e2e0e0;
	padding: 8px;
	border-radius: 10px;
	text-align: justify;
}

.alumni-testimonial-popup-box .popup-body p{
	/* font-size: 16px; */
	font-size: clamp(1rem, 2.5vw, 1.1rem);
	color:#000000;
	margin:0 0 3px;
}
.alumni-testimonial-popup-box .popup-footer{
	padding: 15px;
	border-top:1px solid #dddddd;
	text-align: right;
}
.alumni-testimonial-popup-box .popup-footer .btn{
	padding: 8px 15px;
	border:none;
	border-radius: 10px;
	color:#ffffff;
	font-size: 16px;
	background-color: #820909;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.alumni-testimonial-popup-box .popup-footer .btn:focus{
	outline: none;
}

.alumni-testimonial-popup-box .popup-footer .btn:hover{
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}


@media(max-width: 767px){
   .alumni-testimonial-popup-box .popup-content{
   	 width: calc(100% - 30px);
		width: 90%;
		max-width: 600px;
		max-height: 90vh; 
		border-radius: 20px;
		overflow-y: auto; 
		box-sizing: border-box;
	}
}

@media(max-height: 552px){
	.alumni-testimonial-popup-box .popup-content{
   	 width: calc(100% - 30px);
		width: 90%;
		max-width: 600px;
		max-height: 90vh; 
		border-radius: 20px;
		overflow-y: auto; 
		box-sizing: border-box;
	}
}
